body {
    height: 627px;
    overflow: hidden;
    background-color: #121212;
}

td {
    height: 400px;
    width: 400px;
    border: 1px solid white;
    position: absolute;
    left: 50%;
    margin-left: -200px;
}

h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}