body {
    user-select: none;
    height: 627px;
    overflow: hidden;
    background-color: #121212;
}

td {
    height: 400px;
    width: 400px;
    border: 1px solid white;
    position: absolute;
    left: 50%;
    margin-left: -200px;
}

h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

button {
    color: white;
    background-color: #212121;
    border: none;
    border-radius: 10px;
    outline: none;
    height: 40px;
    width: 145px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    transition-duration: 0.1s
}

button:active {
    color: #121212;
}

input {
    font-size: 20px;
    padding: 5px;
    width:  300px;
    border: 0;
    border-radius: 10px;
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}


#bottomBar {
    width: 400px;
    left: 50%;
    margin-top: 425px;
    margin-left: -200px;
    position: absolute;
    text-align: center;
}

#buttonZone {
    margin-top: 20px;
}
